<p>view-product works!</p>
<h3>Product Id:{{productid}}</h3>


        

            <div class="card mt-4 mb-4">
                <img class="card-img-top img-fluid" src={{productdetails.image}} alt="" width="900px" height="200px">
                <div class="card-body">
                    <h3 class="card-title">{{productdetails.name}}</h3>
                    <a href="products/update-product/{{productdetails.id}}">Update Product</a> |
                    <a href="products/delete-product/{{productdetails.id}}">Delete Product</a>
                    <h4>{{productdetails.price|currency}}</h4>
                    <p class="card-text">{{productdetails.description}}</p>
                    <span class="text-warning">{{productdetails.rating}}</span>
                    4.0 stars
                </div>
            </div>
            <!-- /.card -->

           
            
            <!-- /.card -->

        
    